
/*--------------------------(max-width:1400px)------------
-------------------------------------------------------*/
@media (max-width:1400px){
    
}



/*--------------------------(max-width:1200px)------------
-------------------------------------------------------*/
@media (max-width:1200px){
    
}

/*--------------------------(max-width:992px)------------
-------------------------------------------------------*/
@media (max-width:992px){
    .about-text-left{
        margin-top: 0;
    }
    .slider-caption h4{
        
        font-size: 1.9rem;
    }
    .slider-caption h2{
        margin-bottom: .5rem;
        font-size: 3rem;
    }
    
}
/*--------------------------(max-width:768px)------------
-------------------------------------------------------*/
@media (max-width:768px){
    .pricing-item{
        margin-top: 2rem;
    }
    .slider-caption h4{
        
        font-size: 1.5rem;
    }
    .slider-caption h2{
       
        font-size: 2.5rem;
    }
    
}
/*--------------------------(max-width:576px)------------
-------------------------------------------------------*/
@media (max-width:576px){
    
}
/*--------------------------(max-width:576px)------------
-------------------------------------------------------*/
@media (max-width:576px){
    
}