body,h1,h2,h3,h4,h5,h6{
    font-family: 'Work Sans', sans-serif;
}
html{
    font-size: 10px;
}
img{
    max-width: 100%;
}
/*----------Header style--------------------------------*/
.jon-header .navbar-brand{
    font-size: 2.5rem;
    font-weight: 500;
}

.jon-menu .nav-link{
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
.jon-header span i{
    display: inline-block;
    background: #6278df;
    color: #fff;
    height: 4.3rem;
    width: 4rem;
    line-height: 4.3rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 2.8rem;
    position: relative;
    top:.3rem;

}
/*----------Header style---------------------------------*/
/*----------slider section-start-------------------------------*/
.slider-section{
    background: url(img/health.jpg) no-repeat center center;
    padding: 20rem 0;
    position: relative;
    z-index: 1;
}
.slider-section::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.slider-caption h4{
    margin-bottom: 3.5rem;
    font-size: 2rem;
}
.slider-caption h2{
    margin-bottom: .5rem;
    font-size: 4rem;
}
.slider-caption .btn{
    background: #5ba533;
    padding: 1rem 4rem;
    font-size: 3rem;
    font-weight: 600;
    margin-right: 0;
    
}
.slider-caption .form-control{
    padding: 1.8rem 2rem;
}
/*----------slider section end-------------------------------*/
/*----------about section start-------------------------------*/
.about-section{
    background: #f7f9ff;
}
.about-text-left{
    margin-top: 12rem;
}
.about-text-left .lead{
    font-size: 2rem;
    line-height: 3.5rem;
}
/*----------about section end-------------------------------*/
/*----------Feature section start-------------------------------*/
.feature-item{
    height:30rem ;
    box-shadow: .3rem .5rem 3rem 0 rgba(64, 87, 191, 0.1);
}
.left-img-sec{
    width: 40%;
    
}
.left-test-sec{
    width: 60%;
    margin-top: 7rem;
    margin-left: 2rem;
    padding: 2rem;
}
/
}
/*----------Feature section end-------------------------------*/
/*----------portfolio-item start-------------------------------*/
.portfolio-item{}
.portfolio-item a{
    position: relative;
    display: block;
}

.portfolio-item a::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(98, 120, 223, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: .4s;
   
}
.portfolio-item:hover a::after{
    opacity: 1;
    visibility: visible;
}
    /*----------portfolio-item end-------------------------------*/
    /*----------pricing--item end-------------------------------*/
.min-section-bg{
    background-color: #f7f9ff;
}


.pricing-item{
    background-color: #fff;
    padding: 5rem;
    box-shadow: .3rem .5rem 3rem 0 rgba(64, 87, 191, 0.2);
    border-radius: .5rem;
}
.pricing-item h1{}
.pricing-item h5{}
.pricing-item ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
   margin-bottom: 4.5rem;
}
.pricing-item ul li{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #777;
}
.pricing-item ul li span{
    color: #657be0;
    font-size: 1.5rem;
    
    width: 3rem;
    display: inline-block;
}


.pricing-item-button{}
.pricing-item-button a{
    border-color: #657be0;
    border-width: .2rem;
    color: #657be0;
    padding: 1.4rem 3rem;
    font-size: 2rem;
    box-shadow: .3rem .5rem 3rem 0 rgba(64, 87, 191, 0.2);
}
    /*----------pricing-item end-------------------------------*/
    /*----------testimonial start-------------------------------*/
    .testimonial-item span i{
        font-size: 4rem;
        color: rgb(158, 156, 156);
        margin-bottom: 3rem;
    }
    
    
    .author-info{
        width: 22rem;
        margin: auto;
        
    }
    .author-info img{
        width: 8.5rem;
        margin-right: 1.8rem;
        float: left;
    }
    .user-details{
        text-align: left;
        position: relative;
        top:1rem;
    }
    /*----------pricing-item end-------------------------------*/
    /*----------about-section start-------------------------------*/
    .about-item{
        margin-top: 9rem;
    }
    .about-item .card{}
    .about-item .card img{
        width: 13rem;
        height: 13rem;
        margin-top: -7rem;
        margin-left: 1.5rem;
    }
    /*----------about-section end-------------------------------*/
    /*----------contact-section start------------------------------*/
    .contact-form-div .card{
        box-shadow: .3rem .5rem 3rem 0 rgba(64, 87, 191, 0.2);
        padding: 4rem;
    }
    /*----------contact-section end-------------------------------*/